<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluedatax.wdsm">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //定位包，导航包需要的额外权限
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d359e7fc6f1eadeda2a8e3ef395646be"></meta-data>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/ActionBarNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/ActionBarNoTitle"/>
        <activity
            android:name=".activity.CommunityBroadcast"
            android:theme="@style/ActionBarNoTitle"></activity>
        <activity
            android:name=".activity.SendBroadcast"
            android:theme="@style/ActionBarNoTitle"></activity>

        <service android:name=".service.MyService" />

        <activity
            android:name=".activity.DeviceDetails"
            android:theme="@style/ActionBarNoTitle"></activity>

        <activity
            android:name=".activity.BroadcastMessage"
            android:theme="@style/ActionBarNoTitle"
           />

        <service android:name="com.amap.api.location.APSService"></service>

    </application>

</manifest>